{% extends 'app/admin_home.html' %}
{% load static %}
{% block title %}User List{% endblock title %}



{% block admin %}
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <nav class="sidebar sidebar-offcanvas col-lg-3" id="sidebar">
      <!-- Your existing sidebar content -->
    </nav>

    <!-- Product Addition Form -->
    <div class="col-lg-9">
      <div class="container">
          <h2>Add Images to Product</h2>
          <form method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            {{ formset.management_form }}
        <table class="table">
            {% for form in formset %}
            {{ form.as_table }}
            {% endfor %}
        </table>
        <button type="submit" class="btn btn-primary">Upload Image</button>
    </form>
      </div>
    </div>
  </div>
</div>

{% endblock admin %}