{% extends 'app/admin_home.html' %}
{% load static %}
{% block title %}User List{% endblock title %}



{% block admin %}
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <nav class="sidebar sidebar-offcanvas col-lg-3" id="sidebar">
      <!-- Your existing sidebar content -->
    </nav>

    <!-- Product Addition Form -->
    <div class="col-lg-9">
      <div class="container">
        <h1>Edit Category</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a href="{% url 'brand_list_and_add' %}" class="btn btn-danger">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</div>




{% endblock admin %}