{% extends 'app/baseindex.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block main-content %}
<div class="container-fluid">
 <div class="row">
              <!-- Left Sidebar Navigation -->
            <div class="col-md-3 bg-dark text-light">
                <div id="custom-navigation">
                    <div class="container">
                        <div id="responsive-nav">
                            <ul class=" custom-nav">
                                <h5>Welcome <span class=" active text-capitalize h2 text-primary">{{request.user}}</span></h5>
<!--                                <li class="active"><a href="#">{{request.user}}</a></li>-->
                                <li><a href="{% url 'address' %}" >Profile</a></li>
                                <li><a href="{% url 'address' %}">Address</a></li>
                                <li><a href="{% url 'passwordchange' %}" class="{{active}}">Change Password</a></li>
                                <li><a href="#">Orders</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Left Sidebar Navigation -->

  <div class="col-sm-6 offset-sm-1">
   <h3>Change Password</h3>
   <hr>
   <form action="" method="post" novalidate class="shadow p-5">
      {% csrf_token %}
      {% for fm in form %}
        <div class="form-group">
         {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>
        </div>
      {% endfor %}

      <input type="submit" class="btn btn-primary mt-4" value="Save">
       {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="alert alert-danger my-3">{{error}}</p>
            {% endfor %}
       {% endif %}

   </form>
  </div>
 </div>
</div>
{% endblock main-content %}