{% extends 'app/baseindex.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block main-content %}
<div class="container-fluid">
 <div class="row">

              <!-- Left Sidebar Navigation -->
            <div class="col-md-3 bg-dark text-light">
                <div id="custom-navigation">
                    <div class="container">
                        <div id="responsive-nav">
                            <ul class=" custom-nav">
                                <h5>Welcome <span class=" active text-capitalize h2 text-primary">{{request.user}}</span></h5>
<!--                                <li class="active"><a href="#">{{request.user}}</a></li>-->
                                <li><a href="{% url 'profile' %}" class="{{active}}">Profile</a></li>
                                <li><a href="{% url 'address' %}">Address</a></li>
                                <li><a href="{% url 'passwordchange' %}">Change Password</a></li>
                                <li><a href="#">Orders</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Left Sidebar Navigation -->


      <div class="col-sm-9 offset-sm-1 text-center ">
        <h3>Password Changed Successfully !!!</h3>
           <a href="{% url 'profile' %}" class="btn btn-primary">Go to Profile</a>
      </div>



 </div>
</div>
{% endblock main-content %}
