



.owl-carousel .item{
 /* border: 1px solid black; */
 font-size: 24px;
 text-align: center;
 margin-top: 20px;;
}

.owl-next{
 float:right;
}
.owl-prev{
 float:left;
}
.owl-prev span{
 font-size: 24px;
 font-weight: bold;
}
.owl-next span{
 font-size: 24px;
 font-weight: bold;
}

/* Change the background color and text color when a nav-link is hovered over */
.navbar-nav .nav-item a.nav-link:hover {
  color: #eb1515; /* Change to your desired text color */
}

#slider{
    height:600px;
}


